uv.lock
.vscode
*.pyc
*~
.DS_Store
.eggs/
build
.idea
.tox/
.venv
src/visfem.egg-info/

wheels
__pycache__
.pytest_cache
visfem.code-workspace
notebooks/.ipynb_checkpoints/demo-checkpoint.ipynb

# Data lives outside the repo; keep data/datasets/ as an anchor
data/*
!data/datasets/
data/datasets/*
!data/datasets/.gitignore
