uv.lock
.vscode
*.pyc
*~
.DS_Store
.eggs/
build
.idea
.tox/
.venv
src/visfem.egg-info/

wheels
__pycache__
.pytest_cache
data/fem_data/**
data/results/**
visfem.code-workspace
vscode/launch.json
vscode/settings.json
